*{
    box-sizing: border-box;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}
.container{
    display: flex;
    width: 90vh;
    
}
.panel{
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    margin: 10px;
    border-radius: 50px;
    min-height: 80vh;
    color: #fff;
    cursor: pointer;
    flex: 0.5;
    position: relative;
    transition: flex 0.3s ease-in;
}
.panel h3{
  font-size: 23px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  font-size: 3rem;
  text-shadow: 2px 2px 5px black;
}
.panel.active{
    flex: 5;
}
.panel.active h3{
    opacity: 1;
    transition: opacity 0.3s ease-in 0.4s;
}